images/
annotations/
results/
external/
.DS_Store

MatlabAPI/analyze*/
MatlabAPI/visualize*/
MatlabAPI/private/maskApiMex.*

PythonAPI/pycocotoolse/__init__.pyc
PythonAPI/pycocotoolse/_mask.c
PythonAPI/pycocotoolse/_mask.so
PythonAPI/pycocotoolse/coco.pyc
PythonAPI/pycocotoolse/cocoeval.pyc
PythonAPI/pycocotoolse/mask.pyc
